<div class="input-group input-group-lg">
    <input type="text" class="form-control" m-enter="search()" ng-model="searchParams.query"
           placeholder="введите текст для поиска"/>
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">по всему тексту <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">по году</a></li>
            <li><a href="#">по типу</a></li>
        </ul>
        <button type="submit" class="btn btn-primary" ng-click="search()">найти</button>
    </div>
</div>
<div class="container-fluid" ng-hide="results.length == 0" id="results">
    <hr/>
    <div class="row">
        <div class="col-lg-2">
            <filters-panel filters="postFilters" on-apply="onFiltersApply(filters)"></filters-panel>
        </div>
        <div class="col-lg-10">
            <results-panel
                    page="page"
                    methods="results"
                    results-info="resultsInfo"
                    page-size="pageSize"
                    total-count="totalCount"
                    on-page-changed="search(page)">
            </results-panel>
        </div>
    </div>
</div>

<div data-ng-show="error" class="alert alert-danger"><strong>Server error:</strong> {{error}}</div>
