<button class="btn btn-primary btn-lg" ng-click="create()">Добавить пользователя</button>
<div>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-lg-2">Ник</th>
                <th class="col-lg-2">Имя</th>
                <th class="col-lg-2">Фамилия</th>
                <th class="col-lg-2">Права</th>
                <th class="col-lg-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.isAdmin ? 'админ' : 'пользователь'}}</td>
                <td class="text-right text-nowrap">
                    <button type="button" class="btn btn-info btn-sm" ng-click="edit(user)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="delete(user)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div data-ng-show="error" class="alert alert-danger"><strong>Server error:</strong> {{error}}</div>
